.text-center{
  text-align: center;
}

.ff-new{
  font-family: "Hina Mincho";
  font-weight: 800;
}

#preview blockquote{
  background-color: gray;
  padding: 10px 5px 1px 15px;
  margin-left: 5px;
  border-radius: 10px;
}

#preview blockquote > p{
  border-left: 4px solid rgb(31, 37, 41);
  padding-left: 10px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

#preview pre{
  background-color: rgb(31, 37, 41);
  color: aquamarine;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px;
}

#preview img{
  width: 100%;
}

#preview td, #preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

#editor::-webkit-scrollbar, #preview::-webkit-scrollbar {
  display: none;
}

#editor, #preview {
  -ms-overflow-style: none;
  scrollbar-width: none;
}